################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WasIGoodToday/.vs/WasIGoodToday/v15
/WasIGoodToday/Data/bin/Debug/netcoreapp2.2
/WasIGoodToday/Data/obj
/WasIGoodToday/WasIGoodToday/bin/Debug/netcoreapp2.2
/WasIGoodToday/WasIGoodToday/ClientApp/node_modules
/WasIGoodToday/WasIGoodToday/obj
/WasIGoodToday/Data/bin/Release/netcoreapp2.2
/WasIGoodToday/WasIGoodToday/bin/Release/netcoreapp2.2
/WasIGoodToday/WasIGoodToday/ClientApp/dist
/WasIGoodToday/WasIGoodToday/Properties/PublishProfiles
/WasIGoodToday/.vs/WasIGoodToday/DesignTimeBuild
