<strong>{{currentMonth.name}} {{currentMonth.year}} </strong>
<button (click)="prevMonth()" style="margin-left:50px">Prev Month</button>
<button (click)="nextMonth()">Next Month</button>
<table>
  <thead>
  <tr><th>Start Date</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th></tr>
  </thead>
  <tbody>
  <tr  *ngFor="let week of currentMonth.weeks">    
    <td>{{week.startingDate | date}}</td>
    <td *ngFor="let day of week.days; let d= index">
      <!--<div class="square" (click)="dayClicked(day);week.calcuateScore()"><img [src]="day.imagePath" /></div>-->
      
      <app-square  
  [SquareSize]="square" [Label]="day.name" [ImagePath]="day.imagePath" [IsFinished]="day.isComplete"
                  [IsToday]="isToday(week.startingDate, d)"
    (click)=squareClicked(day,week)></app-square>
  </td>
      <td><img [ngStyle]="{width:imgWidth, height:imgHeight}" [src]="getWeekImage(week.score)" /></td>
      <td>score: {{week.score}}</td>
  </tr>
</tbody>
</table>
<div class="summary">
    <div>
        Good Days: {{goodDays}}
    </div>
    <div>
        Bad Days: {{badDays}}
    </div>
    <div>
        Unallocated Days: {{unallocatedDays}}
    </div>
</div>
<button type="button" (click)="saveMonth()">Update</button>
