.squarecontainer {
margin-top: 50px;
border: 1px black solid;
border-radius: 25px;
padding: 50px;
height: 100%;
width: 90%;
}

@media only screen and (max-width: 770px) {
    .squarecontainer {
        border: none;
    }
}